<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658675412484-fg5p00mjshu6s06q3iafgqi5sfgs7f9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658675412484-fg5p00mjshu6s06q3iafgqi5sfgs7f9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCs5WIU6la-apOoiBL7vBIEy1yWc_OVQ7w</string>
	<key>GCM_SENDER_ID</key>
	<string>658675412484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifeFriends</string>
	<key>PROJECT_ID</key>
	<string>friendapp-47c65</string>
	<key>STORAGE_BUCKET</key>
	<string>friendapp-47c65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658675412484:ios:1a71bf7437fd42552bcf51</string>
	<key>DATABASE_URL</key>
	<string>https://friendapp-47c65-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>